
.container {
  font-family: Roboto, sans-serif;
  width: 100%;
  margin: 0 auto;
  background: url("../../assets/backgroundimg.png") no-repeat;
  background-size: 100% 100%;
}

.container-login {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 15px;
}

.wrap-login {
  width: 390px;
  background-color: rgb(23, 22, 51);
  border-radius: 10px;

  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);

  opacity: 0.9;
}
